@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body {
  background-color: #7C508A;
}

.btn-settings {
  background-color: #AB90D0;
  border: 1px solid #7C508A;
  border-radius: 4px;
  color: #222;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
  max-width: 100vh;
  height: 100vh;
  color: #333;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 315px;
  height: 315px;
  background-color: #AB90D0;
  /* background-color: #FAE6EF; */
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 3px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Titillium Web', sans-serif;
}

.label input {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  height: 30px;
  padding: 0 10px;
  margin: 4px 0 3px 0;
}

.label input:focus {
  outline: none;
}

.form button {
  background-color: #924e8c;
  width: 120px;
  height: 30px;
  margin-top: 12px;
  border: 0.1px solid #41363a69;
  border-radius: 4px;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  box-shadow: 0 0 6px #b15ed375;
}